NEXT_PUBLIC_SUPABASE_URL=https://cksachnegsfycqksmjir.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=
NEXT_PUBLIC_SITE_URL=http://localhost:3000

# Payments
PAYMENT_PROVIDER=mock # mock | square

# Square (set in Vercel)
SQUARE_ACCESS_TOKEN=
SQUARE_ENV=sandbox
SQUARE_LOCATION_ID=
SQUARE_WEBHOOK_SIGNATURE_KEY=
